.home-container {
	background-color: #2a343c;
	color: #e9c9e9cc;
}

.home-header, .home-info {
	background-color: #1313fdbf; /*#0404ffbf; #0404ff;*/
}


.home-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
	padding: 20px 20px 5px 20px;
}

.home-header p {
	max-width: 800px;
	color: #fb8787cc;
}

.home-info {
	/*margin: 0px 0 0px 30px;*/
	padding: 0px 10px 10px 10px;
	justify-content: flex-start;
}

.home-info h2 {
	margin-bottom: 25px;
	text-align: center;
}

.home-info li {
	/*list-style: upper-roman;
	margin-left: 50px;*/
	list-style: none;
	padding-left: 35px;
	text-align: center;
}

.home-link {
	font-size: 1.2rem;
	color: #fb8787cc;
	text-shadow: 1px 1px 2px red, 1px 1px 2px yellow;
	text-decoration: none;
}

.home-query {
	color: #e9c9e9;
	
	margin-left: 20px;
	/*cursor: pointer; */
}
.home-query:hover {
	color: gray;
	position: relative;
	left: 10px;
}

.home-list {
	background-color: #000938;
	padding: 20px;
	background-image: url('../images/flaming-moon_dominic-brugger.jpg');
	min-height: 500px;
	background-size: cover;
}


@media only screen and (min-width: 600px) {
	.home-header, .home-info {
		min-height: 270px;
	}
	.home-header p {
		max-width: 70%;
		font-size: 1.3rem;
		margin-bottom: 35px;
		line-height: 30px;
	}
}


@media only screen and (min-width: 860px) {
	.home-header, .home-info {
		min-height: 260px;
	}
	.home-header {
		padding-top: 13px;
	}
	.home-header p {
		max-width: 60%;
	}
	.home-info h2 {
		margin-bottom: 30px;
	}
	.home-info li {
		font-size: 1.3rem;

		margin-left: 0px;
		margin-bottom: 25px;
	}
}


